<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Finanzas{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/resumen.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>
    <!-- Menú lateral -->
    <div class="menu-lateral">
        <h2>Menú</h2>
        <ul>

            <li>
                <a href="{% url 'resumen_finanzas' %}"><i class="material-icons">dashboard</i> Resumen</a>
            </li>
            <li><a href="{% url 'lista_ingresos' %}"><i class="material-icons">paid</i>Ingresos</a></li>
            <li><a href="{% url 'lista_egresos' %}"><i class="material-icons">sell</i> Egresos</a></li>
            <li><a href="{% url 'lista_cotizaciones' %}"><i class="material-icons">receipt_long</i>Cotizaciones</a></li>
            <li><a href="{% url 'lista_clientes' %}"><i class="material-icons">group</i>Clientes</a></li>
            <li><a href="{% url 'usuarios:logout' %}"><i class="material-icons">logout</i></i> Cerrar Sesión</a></li>

        </ul>
    </div>

    <!-- Contenido principal -->
    <div class="contenido-principal">
        {% block content %}
        <!-- El contenido específico de cada página se insertará aquí -->
        {% endblock %}
    </div>
</body>

</html>